.about {
    margin: 0px auto;
    padding: 20px;
    background-color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.about .title {
    margin: 25px 30px;
}

.about .title hr {
    margin-top: 5px;
    width: 50px;
    height: 5px;
    background-color: #ff4321;
    border: none;
    border-radius: 25px;

}

.about .title h1 {
    font-size: 40px;
    font-weight: bold;

}

.aboutSection {
    margin: 25px;
    font-family: 'Space Mono';
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.aboutSection img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: auto 0px;
}

.aboutText {
    margin: 25px 50px;
}

.aboutText h1 {
    font-size: 30px;
    font-weight: bold;
}

.aboutText p {
    font-size: 20px;
    text-align: justify;
    margin-top: 25px;
}

@media screen and (max-width:850px) {
    .aboutSection {
        display: block;
    }

    .aboutSection img {
        display: none;

    }
}