.top {
    padding: 10px 10px 5px 10px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 10px;
    transition: 0.5s;
    background-color: #f6f7ff;
}

.top:hover {
    padding: 15px 15px 10px 15px;
    background-color: #ff4321;
    transition: 0.3s;
}

#BackToTop a {
    color: #00f;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
}

#BackToTop a:hover {
    font-size: 30px;
    color: #fff;
    transition: 0.3s;
}