.education {
    margin: 0px auto;
    padding: 20px;
    background-color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
}

.education .title {
    margin: 25px 30px;
}

.education .title hr {
    margin-top: 5px;
    width: 50px;
    height: 5px;
    background-color: #ff4321;
    border: none;
    border-radius: 25px;
}

.education .title h1 {
    font-size: 40px;
    font-weight: bold;

}

.educationSection {
    margin: auto 25px;
    font-family: 'Space Mono';
    font-size: 20px;
    color: #909090;
}

.educationTypes {
    margin: 20px auto;
}

.educationSection .educationYear {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 18px;
    margin-bottom: 15px;
}

.educationSection .educationTitle {
    color: #000;
    font-weight: bold;
}

.educationSection .educationInstitute {
    font-style: italic;
}

.educationTypes hr {
    height: 1px;
    margin: 30px auto;
    border: none;
    background-color: #c4c4c4;
}

@media screen and (max-width: 1250px) {
    .education {
        padding: 0px;
        border-radius: 0px;
        box-shadow: none;
    }
}

@media screen and (max-width: 850px) {
    .education .title h1 {
        font-size: 30px;
    }

    .educationSection {
        font-size: 16px;
    }

    .educationSection .educationYear {
        font-size: 14px;
        margin-bottom: 10px;
    }
}