.homeSection {
    padding: 250px 150px;
    background-color: #eef0ff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'PT Sans Narrow', sans-serif;
}

.homeImage {
    margin: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeText {
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-family: 'Pacifico', cursive;
}

h1 {
    font-size: 60px;
    font-weight: 400;
}

h2 {
    font-size: 30px;
    font-weight: 400;
}

.homeLearnMore {
    margin: 10px 10px 30px 0px;
}

.homeLearnMore a {
    font-size: 25px;
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid #ff4321;
    transition: 0.5s;
}

.homeLearnMore a:hover {
    font-size: 30px;
    padding: 5px;
    background-color: #ff4321;
    border-bottom: 2px solid #000;
    transition: 0.3s;
}

.btn {
    padding: 15px 150px;
    margin: 20px 30px 20px 0px;
    border: 1px;
    border-radius: 10px;

    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}


.downloadButton {
    background-color: #c4c4c4;
    color: #000;
}

.downloadButton:hover {
    color: #ff4321;
    background-color: #202020;
    border-bottom: 4px solid #ff4321;
}