.homeSection {
    margin: 150px 0px;
    background-color: #eef0ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeImage,
.homeText {
    margin: 0px 50px;
}

p {
    font-family: 'Pacifico', cursive;
}

h1 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 60px;
    font-weight: 400;
}

h2 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.btn {
    padding: 15px 25px;
    margin: 20px 30px 20px 0px;
    border: 1px;
    border-radius: 10px;

    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.7s;
}

.btn:hover {
    font-size: 22px;
    transition: 0.3s;
    padding: 15px 50px;
}

.hireButton {
    background-color: #ff4321;
    color: #eef0ff;
}

.hireButton:hover {
    border-bottom: 3px solid #000;
}

.downloadButton {
    background-color: #c4c4c4;
    color: #000;
}

.downloadButton:hover {
    border-bottom: 3px solid #ff4321;
}

.github {
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.7s;
}

.github:hover {
    font-size: 40px;
    transition: 0.3s;
    color: #a020f0;
}

.facebook {
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.7s;
}

.facebook:hover {
    font-size: 40px;
    transition: 0.3s;
    color: #2e89ff;
}