.homeSection {
    height: 700px;
    margin: 0px auto;
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    font-family: 'PT Sans Narrow', sans-serif;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.homeText {
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-family: 'Pacifico', cursive;
    font-size: 22px;
}

h1 {
    font-size: 60px;
    font-weight: 400;
}

h2 {
    font-size: 30px;
    font-weight: 400;
}

.homeLearnMore {
    margin: 10px 10px 30px 0px;
}

.button {
    display: flex;
}

.btn {
    padding: 15px 20px;
    margin: 20px 30px 20px 0px;
    border: 1px;
    border-radius: 10px;

    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}


.downloadButton {
    background-color: #c4c4c4;
    color: #000;
}

.downloadButton:hover {
    color: #ff4321;
    padding: 11px 20px;
    background-color: #202020;
    border-bottom: 4px solid #ff4321;
}

.hireButton {
    background-color: #ff4321;
    color: #fff;
}

.hireButton:hover {
    color: #ff4321;
    padding: 11px 20px;
    background-color: #202020;
    border-bottom: 4px solid #ff4321;
}