nav {
    padding: 30px;
    height: 680px;
    width: 235px;
    font-family: 'PT Sans Narrow', sans-serif;
}

ul {
    list-style: none;
}

.navLogo {
    display: flex;
    justify-content: center;
}

.navLogo img {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.navName {
    text-align: center;
}

.navName h1 {
    margin-top: 20px;
    font-size: 40px;
}

.navName p {
    font-size: 20px;
    color: #fff;
}

.navItems {
    margin-top: 30px;
}

.navItems li {
    padding: 10px;
    margin-top: 10px;
}

.navItems li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    transition: 0.7s;
}

.navItems li a:hover {
    padding-left: 25px;
    font-size: 24px;
    font-weight: bold;
    transition: 0.3s;
}

.navSocialMedia {
    margin: 100px 10px 10px 0px;
    cursor: pointer;
    transition: 0.7s;
}

.navSocialMedia a {
    color: #000;
    font-size: 30px;
}

.facebook:hover {
    font-size: 40px;
    transition: 0.3s;
    color: #fff;
}