nav {
    padding: 30px;
    height: 680px;
    width: 235px;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: #fff;
    margin: auto;
    border-radius: 25px;
    position: fixed;
    top: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;

}

ul {
    list-style: none;
}

.navLogo {
    display: flex;
    justify-content: center;
}

.navLogo img {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.navName {
    text-align: center;
}

.navName h1 {
    margin-top: 15px;
    font-size: 40px;
}

.navName p {
    font-size: 20px;
    color: #ff4321;
}

.navItems {
    margin-top: 40px;
}

.navItems li {
    padding: 10px;
    margin-top: 15px;
}

.navItems li a {
    text-decoration: none;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    transition: 0.7s;
}

.navItems li a:hover {
    margin-left: 15px;
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 3px solid #ff4321;
    transition: 0.3s;
}

.backgroundColor,
.resetButton {
    margin: 30px;
    display: flex;
    justify-content: space-around;
}

.resetButton input {
    padding: 10px 15px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: 5px;
}

@media (max-height: 800px) {
    nav {
        height: 80%;
        margin-bottom: 15px;
        overflow: scroll;
    }
}