.skill {
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.skill .title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    margin: 0px 30px;
    border-bottom: 3px solid #ff4321;
    margin-top: 25px;
    margin-bottom: 75px;
}