.skill {
    margin: 0px auto;
    padding: 20px;
    background-color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
}

.skill .title {
    margin: 25px 30px;
}

.skill .title hr {
    margin-top: 5px;
    width: 50px;
    height: 5px;
    background-color: #ff4321;
    border: none;
    border-radius: 25px;
}

.skill .title h1 {
    font-size: 40px;
    font-weight: bold;
}

.skillSection {
    margin: 25px;
    font-family: 'Space Mono';
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skillSection p {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.skillType {
    margin: 10px 0px;
}

.skillBar {
    height: 15px;
    background-color: #282828;
    border-radius: 5px;
    width: 90%;
    margin: 10px 0px;

}

.skillSubBar {
    height: 100%;
    background-color: #1ee0aa;
    border-radius: 5px;
}

@media screen and (max-width: 1250px) {
    .skill {
        padding: 0px;
        border-radius: 0px;
        box-shadow: none;
    }

}

@media screen and (max-width:850px) {
    .skill .title h1 {
        font-size: 30px;
    }

    .skillSection p {
        font-size: 16px;
    }

    .skillSection {
        grid-template-columns: 1fr;
    }
}