body {
    background-color: #f6f7ff;
    background-image: linear-gradient(to right, #f6f7ff, #f6f7ff);
}

.container {
    width: 1200px;
    margin: auto;
}

.sections {
    margin: auto;
    width: 875px;
    float: right;
}