body {
    background-color: #f6f7ff;
}

.container {
    width: 1200px;
    margin: auto;

}

.nav {
    background-color: #ff4321;
    margin: auto;
    border-radius: 25px;
    position: fixed;
    top: 50px;
}

.sections {
    margin: auto;
    width: 875px;
    float: right;
}