.container {
    width: 1200px;
    margin: auto;
}

.sections {
    margin: auto;
    width: 875px;
    float: right;
    background-color: transparent;
}

.gapOne {
    height: 50px;
}

.bgT {
    background-color: transparent;
}

.bg {
    background-color: #0f0;
}

.gap {
    height: 50px;
    margin: auto;
}


@media screen and (max-width: 1250px) {

    .container {
        width: 95vw;
        display: flex;
        flex-direction: column;

    }

    .sections {
        float: none;
        width: 90vw;
    }

    .gapOne {
        height: 0px;
    }

    .gapR {
        height: 125px;
    }

    .gap {
        height: 100px;
        margin: -25px 0px;
    }
}